.entryList {
  /* background-color: red; */
  /* position: relative; */
  /* border: 1px solid black; */

  display: grid;
  /* grid-template-columns: repeat(3, calc(100% / 3)); */
  grid-template-columns: 50%;
  justify-content: center;
  text-decoration: none;
  border-radius: 30px;
  gap: 15px;
}
