.entryList {
  /* background-color: red; */
  /* position: relative; */
  /* border: 1px solid black;
  display: grid;
  grid-template-rows: repeat(3, calc(100% / 3));
  grid-template-columns: 1fr;
  text-decoration: none; */
}
