.entryList {
  /* background-color: red; */
  /* position: relative; */
  /* border: 1px solid black; */

  display: grid;
  /* grid-template-columns: repeat(3, calc(100% / 3)); */
  grid-template-columns: 100%;
  justify-content: center;
  text-decoration: none;
  gap: 15px;
}

.entryList h3 {
  margin-top: 10px;
}

@media (min-width: 550px) {
  .entryList {
    grid-template-columns: 60%;
  }
}
