.entry {
  border: 1px solid black;
  background-color: white;
  /* width: 50%; */
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.entry img {
  width: 90%;
  /* flex-basis: 90%; */
}

.entry .explanation {
  text-align: justify;
}
